:root {
  --mainBlue: #1da1f2;
  --lightBlue: #E8F5FE;
  --mainWhite: #ffffff;
  --inactive: #8ed0f9;
  --grey: #657786;
  --mainDark: #232528;
  --search: #E6ECF0;
  --btnHover: #1A91DA;
  --sidebarHover: #EDF0F2;
  --sidebarBg: #F5F8FA;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;font-size:16px}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  /* font-family: 'Poppins', sans-serif; */
  /* background-color: ${(props) => props.theme.background};
  color: ${(props) => props.theme.primaryColor}; */
  line-height: 1.8;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
/* background: ${(props) => props.theme.background}; */
}

body::-webkit-scrollbar-thumb {
/* background: ${(props) => props.theme.accentColor}; */
}
/* GRID */
.row {
    /* clear: both;*/
    display: flex;
    flex-wrap: wrap;
}
.limited {
  max-width: 1200px; 
  margin: auto;
}

button:focus, textarea:focus, input:focus{
  outline: none;
}

li {
  list-style-type: none;
}

/* @media only screen and (min-width: 768px) {    
  .col-md-12 {
      flex-basis: 75%;
  }
  .col-2{
    flex-basis: 25%;
  }
} */

/* @media only screen and (min-width: 992px) {
  .main{
      flex-basis: 75%;
  }     
}  */

/* end of globals */

.col-sm-10{
  background-color:var(--search);
}


.App {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.navbar{
  padding: 0 1rem
}
.logo{
  padding: .2rem 1.25rem;
  margin: .75rem 0;
}
.nav-link{
  font-weight:700 ;
  font-size: 1.25rem;
  color: rgba(0,0,0,0.8);
  padding: .6rem 0 .6rem 1.25rem;
  margin: .2rem 0;
}
.nav-link:hover, .nav-link:active{
  color: var(--mainBlue);
}
.nav-link:hover{
  background-color: var(--lightBlue);
  border-radius: 1.5rem;
  width: max-content;
  padding: .6rem 1.25rem;
}
.logo-container:hover{
  background-color: var(--lightBlue);
  border-radius: 1.5rem;
  padding: 1rem 0;

}
.btn{
  width:100%;
  background-color: #1da1f2;
  margin: 1rem .25rem;
  padding:.75rem 0;
  border-radius: 1.5rem;
  font-weight:700 ;
  font-size: 1rem;
  color: var(--mainWhite);
}
.btn:hover{
  background-color: var(--btnHover);
  color: var(--mainWhite);
}
.profile-container{
  margin: 1rem .25rem;
  padding:.75rem .5;
}
.profile-container:hover{
  background-color: var(--lightBlue);
  border-radius: 1.5rem;
  padding:3rem .5 !important;
  min-width:100%;
}
.name, .username{
  line-height: .5;
}
.name{
  font-weight:700 ;
  font-size: 1.125rem;
}
.sidebar{
  margin-left: 1.75rem;
  background-color: goldenrod;
}