:root {
  --mainBlue: #1da1f2;
  --lightBlue: #E8F5FE;
  --disabledBlue: #8ED0F9;
  --mainWhite: #ffffff;
  --inactive: #8ed0f9;
  --grey: #657786;
  --mainDark: #232528;
  --search: #E6ECF0;
  --btnHover: #1A91DA;
  --hover: #F7F7F7;
  --sidebarHover: #EDF0F2;
  --sidebarBg: #F5F8FA;
  
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;font-size:16px}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  /* font-family: 'Poppins', sans-serif;
  font-weight:200; */
  /* background-color: ${(props) => props.theme.background};
  color: ${(props) => props.theme.primaryColor}; */
  line-height: 1.8;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
/* background: ${(props) => props.theme.background}; */
}

body::-webkit-scrollbar-thumb {
/* background: ${(props) => props.theme.accentColor}; */
}
/* GRID */
.row {
    /* clear: both;*/
    display: flex;
    flex-wrap: wrap;
}
.limited {
  max-width: 1200px; 
  margin: auto;
}

button:focus, textarea:focus, input:focus{
  outline: none;
}

li {
  list-style-type: none;
}


/* end of globals */

.App {
  display:flex;
  flex-flow: row nowrap;
}
.home{
  padding:0;
  border: .1rem solid var(--search);
}
