:root {
  --mainBlue: #1da1f2;
  --lightBlue: #f5f8fa;
  --mainWhite: #ffffff;
  --inactive: #8ed0f9;
  --grey: #acb7bf;
  --mainDark: #232528;
  --search: #e6ecf0;
}
.App {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.home, .profile, .explore{
  flex-grow: 5;
  background-color: grey;
}

.navbar{
  flex-grow: 1;
  background-color: rgb(245, 245, 245);
}
.sidebar{
  flex-grow: 2;
  margin-left: 1.75rem;
  background-color: goldenrod;
}

